.btn-buy-visual-feedback {
  background-color: $sw-color-brand-secondary;
}

#quantity-selector-group-visual-feedback {
  background-color: $sw-color-brand-primary;
  color: $sw-color-brand-primary;
}