{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block page_product_detail_product_buy_button %}
  <div class="d-grid">
    <button class="btn btn-buy"
            title="{{ "listing.boxAddProduct"|trans|striptags }}"
            data-feedback-label="{{ "visual-feedback.buyButtonFeedbackLabel"|trans|sw_sanitize }}"
            data-add-to-cart-label="{{ "listing.boxAddProduct"|trans|sw_sanitize }}"
            >
      {{ "listing.boxAddProduct"|trans|sw_sanitize }}
    </button>
  </div>
{% endblock %}